.WrapperNotifications{
    margin-top: 3%;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: radial-gradient(farthest-corner at 50% 8% ,
    #313131 0%, #000000 44.5%)
}

.WrapperNotifications .Name{
    color: white;
    margin-top: 5%;
    margin-left: 11.5%;
    font-size: 30px;
}